.DS_Store

# Ignore Java class files
*.class

# Ignore Intellij project files and idea directory
.idea/
*.iml
*.ipr
*.iws
.idea_modules/
/out/


# remove all target dirs
target/

# package files
*.jar
*.zip
